/* Colours */
$black: #000;
$white: #fff;
$red: rgb(255, 0, 0);
$border: lighten($black, 50%);
$btnBG : $white;
$shadow: lighten($black, 50%);

:root{
  // colours
  --black: #{$black};
  --white: #{$white};
  --red: #{$red};
  --border: #{$border};
  --btnBG: #{$btnBG}; 
  --shadow: #{$shadow};
}